<html>
	<body>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Department</th>
					<th>Job Title</th>
					<th>Start Date</th>
					<th>Employee Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>#[payload['first_name']]</td>
					<td>#[payload['last_name']]</td>
					<td>#[payload['department']]</td>
					<td>#[payload['job_title']]</td>
					<td>#[payload['start_date']]</td>
					<td>#[payload['employee_type']]</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
